
.signupInput {
    margin-bottom: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
}
.signupHeader {
    text-align: center;
}
#success {
    text-decoration: none;
    color: black;
    background: rgb(241, 241, 85);
    padding: 2%;
    border-radius: 10px;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#success:hover {
    background: rgb(54, 173, 54);
    border-radius: 30px;
}
.label {
    margin-bottom: 5px;
    font-size: 18px; 
}
#buttonDiv {
    text-align: center;
}
button:hover {
    cursor: pointer;
    background: rgb(0,0,0,0.6);
    color: white;
}
.signupSection {
    margin-top: 35px;
    width: 75%;
}
@media only screen and (min-width: 720px){
    input {
        width: 250px;
    }
}
