
.signupInput {
    margin-bottom: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
}
.label {
    margin-bottom: 5px;
    font-size: 18px; 
}
#buttonDiv {
    text-align: center;
}
button:hover {
    cursor: pointer;
    background: rgb(0,0,0,0.6);
    transition: .5s;
    color: white;
}
.signupSection {
    margin-top: 35px;
    width: 75%;
}
@media only screen and (min-width: 720px){
    input {
        width: 250px;
    }
}
