* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
   
  }
  label {
    margin-left: 15px;
  }
  #banner {
      text-align: center
  }
  #date-year {
    width: 90px;
    margin: 0;
  }
  #date-day, #date-month {
    margin: 0 5px 0 0;
  }
  .section {
    min-height: 200px;
    padding: 30px 15px;
    margin-bottom: 50px;
  }
  
  .reviewP {
    max-width: 650px;
    margin-left: 15px;
  }
  
  .reviewP + .reviewP {
    margin-top: 15px;
  }
  
 .reviewForm {
    text-align: left;
  }
.reviewInput, .reviewTextarea {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .reviewInput[type="number"] {
    width: 75px;
    margin-right: 5px;
  }
  
  .reviewLabel {
    display: block;
  }
  
  .form-section {
    margin-bottom: 30px;
  }
  #date {
    display: flex;
    margin-left: 2%;
  }
  #rating {
    margin-left: 2%;
    width: 25%;
  }
  #reviewSubmit {
    margin-right: 20px;
    margin-left: 2%;
  }
  
  
  