* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
   
  }
  #banner {
      text-align: center
  }
  #date-year {
    width: 90px;
  }
  .section {
    min-height: 200px;
    padding: 30px 15px;
    margin-bottom: 50px;
  }
  
  .reviewP {
    max-width: 650px;
  }
  
  .reviewP + .reviewP {
    margin-top: 15px;
  }
  
 .reviewForm {
    text-align: left;
  }
  
.reviewInput, .reviewTextarea {
    width: 100%;
    max-width: 500px;
  }
  
  .reviewInput[type="number"] {
    width: 75px;
    margin-right: 5px;
  }
  
  .reviewLabel {
    display: block;
  }
  
  .form-section {
    margin-bottom: 30px;
  }
  #date {
    display: flex;
    
  }
  #reviewSubmit {
    margin-right: 20px;
  }
  
  