.forumSection {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#forumText {
    width: 80%;
}
.forumHeader {
    text-align: center;
}
#forumSubmit {
    margin-top: 20px;
}
#forumLink {
    color: white;
}