.header {
    min-height: 200px;
    text-align: left;   
    margin-bottom: 0;
    padding: 0;
}
#almost {
    color: rgb(0,0,0,0.4)
}
.banner {
    font-size: 100px;
    color: rgb(128,0,0);
    background-color: rgb(255,255,255,0.9);
    border: 10px solid rgb(128,0,0,0.95);
    box-shadow: 7px 21px 11px -16px black;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 0;
    font-family: 'Sacramento', cursive;
  }
  @media only screen and (min-width: 520px){
      .banner {
         width: 50%;
      }
  }
  

