footer {
    min-height: 100px;
    background-color: rgb(128,0,0,0.8);
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
   
}
.footerText {
    padding-top: .5%;
    padding-left: 1%;
    color: white;
}
