.loginHeader {
    text-align: center;
}
.loginButton {
    margin-top: 10px;
}
.forgot {
    text-align: center;
    margin-bottom: 50px;
    width: 75%;
}
#access {
    color:white;
    border-radius: 10px;
    padding: 3%;
    border: 1px solid rgb(245, 118, 118);
}
#label {
    text-align: left;
    padding: 0;
}
#incorrect {
    color: red;
}
.loginpage {
    padding-top: 40px;
}
#loginsubmit {
    margin-top:15px;
}
#loginSignup {
    text-decoration: none;
    color: white;
    padding: 1.5%;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    border: 1px solid rgb(245, 118, 118);
}
#name {
    color: white;
}
#loginSignup:hover {
    border: 1px solid black;
    color: black;
    background: white;
}
@media only screen and (min-width: 520px){
    .forgot{
        width: 50%;
    }
}