.loginHeader {
    text-align: center;
}
.loginButton {
    margin-top: 10px;
}
.forgot {
    text-align: center;
    margin-bottom: 50px;
    width: 50%;
}
#access {
    color: rgb(128,0,0);
    background: white;
    border-radius: 10px;
    padding: 1%;
}
#incorrect {
    color: red;
}
#loginSignup {
    text-decoration: none;
    color: black;
    padding: 2%;
    background: white;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#loginSignup:hover {
    background: rgb(133, 41, 41);
    color: white;
    border-radius: 20px;
}