.forumHeader {
    text-align: center;
    margin-top: 200px;
}
#forumHeader {
    font-family: 'Sacramento', cursive;
    color: rgb(128,0,0,0.9);
    background: white;
    border-radius: 10px;
    font-size: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.topicList {
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    color: rgb(0,0,0,0.8);
}

#topicList {
    padding: 3%;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 25px;
    justify-content: center;
}
#topicButton {
    width: 100%;
    min-height: 100px;
    border-radius: 20px;
}
.postListItem {
    border: 1px solid white;
    color: white;
}
.topicName {
    padding: 2%;   
}
.like {
    padding: 1%;
    
}
.like:hover {
    cursor: pointer;
}
#icon {
    margin-right: 5px;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#icon:hover {
    color: rgb(128,0,0,0.8);
}
@media only screen and (min-width: 520px){
    #topicList {
        grid-template-columns: 32% 32% 32%;
    }
}
