.forumHeader {
    text-align: center;
}
#forumHeader {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}
.topicList {
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    color: rgb(0,0,0,0.8);
}
#topicList {
    padding: 3%;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 25px;
    justify-content: center;
}
#topicButton {
    width: 100%;
    min-height: 100px;
    border-radius: 20px;
}
.postListItem {
    border: 1px solid white;
    color: white;
}
.topicName {
    padding: 2%;   
}
@media only screen and (min-width: 520px){
    #topicList {
        grid-template-columns: 32% 32% 32%;
    }
}
