.navLink {
    margin-right: 10px;
    color: ivory;

}
nav {
  padding: 1% 0;
  background-color: rgb(0,0,0,0.8);
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
 
}
nav > ul {
    list-style: none;
    display: flex;
    font-size: 16px;
}
#bullhorn {
  height: 20px;
  width: 20px;
}
