.navLink {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.navLink:hover {
  color: ivory;
  text-decoration: underline;
  transition: .5s;
}
nav {
  padding: 1% 0;
  background-color: rgb(0,0,0,0.88);
  border-bottom: 2px solid rgb(255,255,255,0.8);
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top:0;
  width: 100%;
  align-items: center;
 
}
nav > ul {
    list-style: none;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#bullhorn {
  height: 20px;
  width: 20px;
}
#navLogo {
  font-family: 'Sacramento', cursive;
  color: white;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;

}
.navLogo {
  display: flex;
  padding: 0;
  margin: 0;
}
#linkLogo {
  margin: 0;
}

  
